<!DOCTYPE html>
<html lang="en" ng-app="website-me">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title ng-bind="page.title"></title>
	
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<a class="sr-only sr-only-focusable">Skip to content</a>

	<header role="banner">
		<nav role="navigation" class="navbar navbar-default" ng-controller="navController">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand">Alan</a>
					<button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed" aria-controls="main-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="main-navbar-collapse" collapse="isCollapsed">
					<ul class="nav navbar-nav">

						<li ng-class="{active: isActive('/', true)}"><a href="#/" ng-click="itemSelected()">Home</a></li>
						<li ng-class="{active: isActive('/About', false)}"><a href="#/About" ng-click="itemSelected()">About</a></li>
						<li ng-class="{active: isActive('/Projects', false)}"><a href="#/Projects" ng-click="itemSelected()">Projects</a></li>
						<li ng-class="{active: isActive('/Contact', false)}"><a href="#/Contact" ng-click="itemSelected()">Contact</a></li>
					
					</ul>
				</div>
			</div>		
		</nav>
	</header>
	
	<main role="main" id="content" ng-view>
	</main>

	<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="node_modules/angular-route/angular-route.min.js"></script>
	<!--<script type="text/javascript" src="node_modules/angular-animate/angular-animate.min.js"></script>-->
	<script type="text/javascript" src="node_modules/angular-ui-bootstrap/ui-bootstrap.min.js"></script>
	<script type="text/javascript" src="javascript/app.js"></script>
</body>
</html>